* {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
  }
  body {
    color: #333;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
    font-family: sans-serif;
    background-color: azure;
  }
  .contact-form{
    width: 900px;
    margin: 30px auto;
  }
  .contact-form h2{
    margin-bottom: 20px;
  }
  .full-size{
    width: 890px;
    margin: 5px auto;
  }
  .half-size{
    width: 440px;
    margin-bottom: 5px;
    
  }
  input{
    height: 25px;
  }
  .submit{
    width: 890px;
    height: 50px;
  }
  .submit button{
    color: aliceblue;
    background-color: rgb(71, 177, 238);
    border: 1px blue;
    border-radius: 5%;
    height: 30px;

  }
  .submit span{
    float: right;
  }